<p>検索</p>
<%= form_tag(user_shops_search_path,:method => 'get') do %>
 	<%= text_field_tag :search %>
  	<%= submit_tag 'Search', :shop_name => nil %>
<% end %>

<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>投稿者</th>
					<th>店名</th>
					<th>いいねの数</th>
					<th>コメントの数</th>
				</tr>
			</thead>

			<tbody>
				<% @shops.each do |shop| %>
				<tr>
					<td>
						<%= link_to user_user_path(shop.user) do %>
						<%#= render 'shared/userimage', user: @user %>
						<%= shop.user.nickname %>
						<% end %>
					</td>
					<td><%= link_to shop.shop_name, user_shop_path(shop) %></td>
					<td>
					 <% if shop.favorited_by?(current_user) %>
    				   <%= link_to user_shop_shop_likes_path(shop), method: :delete do %>
           			    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      					<%= shop.shop_likes.count %> いいね
    				   <% end %>
					 <% else %>
    				   <%= link_to user_shop_shop_likes_path(shop), method: :post do %>
      				    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
      				    <%= shop.shop_likes.count %> いいね
    				   <% end %>
					 <% end %>
					</td>
					<td>コメント数: <%= shop.shop_comments.count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>