<div class="row">
  <div class="main col-md-offset-1 col-md-6">
    <h2>店の投稿の詳細画面</h2>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tr>
          <th width="100">投稿者</th>
          <td>
            <%= link_to user_user_path(@user) do %>
            <%= render 'shared/userimage', user: @user %><br>
            <%= @user.nickname %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th width="100">ジャンル名</th>
          <td><%= @myshop.genre.genre_name %></td>
        </tr>

        <tr>
          <th width="100">店名</th>
          <td><%= @myshop.shop_name %></td>
        </tr>

        <tr>
          <th width="100">お問い合わせ</th>
          <td><%= @myshop.inquiry %></td>
        </tr>

        <tr>
          <th width="100">住所</th>
          <td><%= @myshop.address %></td>
        </tr>

        <tr>
          <th width="100">予算</th>
          <td><%= @myshop.price_range %></td>
        </tr>

        <tr>
          <th width="100">交通手段</th>
          <td><%= @myshop.transport %></td>
        </tr>

        <tr>
          <th width="100">支払い手段</th>
          <td><%= @myshop.payment_method %></td>
        </tr>

        <tr>
          <th width="100">席数</th>
          <td><%= @myshop.seats_number %></td>
        </tr>

        <tr>
          <th width="100">タバコ</th>
          <td><%= @myshop.cigarette %></td>
        </tr>

        <tr>
          <td>
            <div id="shop_likes_buttons_<%= @myshop.id %>">
              <%= render partial: 'user/shop_likes/shop_like', locals: { shop: @myshop} %>
            </div>
          </td>
          <td>コメント数: <%= @myshop.shop_comments.count %></td>
        </tr>
      </table>

      <% if @user == current_user %>
        <%= link_to "Edit",edit_user_shop_path(@myshop.id), class: "btn-sm btn-success edit_book_#{@myshop.id}" %>
        <%= link_to "Destroy",user_shop_path(@myshop.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@myshop.id}" %>
      <% end %>

      <div id="shop_comment_destroy_buttons">
        <%= render partial: 'user/shop_comments/shop_comment_destroy' %>
      </div>

      <div id="shop_comment_create_buttons">
        <%= render partial: 'user/shop_comments/shop_comment_create' %>
      </div>

    </div>
  </div>
</div>


