<% if flash[:success] %>
  <div class="alert1" role="alert">
    <%= notice %>
  </div>
 <% end %>

 <% if flash[:danger] %>
  <div class="alert1" role="alert">
    <%= notice %>
  </div>
 <% end %>

<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">

    <%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">

<h2>登録情報編集</h2>

<%= form_for @user, url: user_user_path(current_user), method: :patch do |f| %>

	<div class="field">
		<%= f.label :image, "ユーザー画像" %>
		<%= f.file_field :image %>
		<%= render 'shared/userimage', user: @user %>
	</div>

	<div class="field">
		<%= f.label :nickname, "ニックネーム" %>
		<%= f.text_field :nickname, class: "nickname" %>
	</div>

	<div class="field">
		<%= f.label :introduction, "自己紹介文" %>
		<%= f.text_area :introduction, class: "introduction" %>
	</div>

	<div class="actions">
		<%= f.submit '変更を反映する', class: 'btn btn-primary btn-block' %>
	</div>

<% end %>

<%= link_to "退会する", user_confirm_path, class: 'btn btn-danger btn-md', style: 'color: white' %>

</div>