<div class="row">
<div class="col-xs-12">

<h2>ユーザー情報</h2>
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>プロフィール画像</th>
			<th>ニックネーム</th>
			<th>自己紹介文</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><%= render 'shared/userimage', user: @user %></td>
			<td><%= @user.nickname %></td>
			<td><%= @user.introduction %></td>
		</tr>
	</tbody>

</table>

<h2>店の投稿一覧</h2>
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>店名</th>
			<th>いいね数</th>
		</tr>
	</thead>

	<tbody>
		<% @shops.each do |shop| %>
		<tr>
			<td><%= link_to shop.shop_name, user_shop_path(shop) %></td>
			<td><%= shop.shop_likes.count %></td>
		</tr>
		<% end %>
	</tbody>

</table>

</div>
</div>
